body{
    background: white;
    color: #333333;
    font-family: Myriad Pro, sans-serif;
}
body, h1, h2 {
    letter-spacing: 0.05em;
}
h1, h2, h3, h4, h5, h6 {
    color: #0081A3;;
}
a:link, a:visited,
#content a:link, #content a:visited,
dl.portlet a:link, dl.portlet a:visited {
    border: none;
    color: #0084A7;
}

/*Header*/
#potal-top {
    background: white;
}
#portal-header,
#portal-columns {
    margin: 0 10%;
    width: 80%;
}
#portal-header {
    padding: 0 1em;
}
#portal-siteactions {
    margin: 0.25em 0;
    padding: 0;
    text-align: right;
}
#portal-siteactions li {
    padding: 0.25em;
}
#portal-logo {
    margin: 0 0 1.25em;
    max-width: 70%;
}
#portal-logo img {
    height: auto;
    width: 100%;
}
#portal-searchbox {
    max-width: 30%;
}
input.searchField {
    -moz-appearance: textfield;
}
input.searchButton {
    background: #ca2464;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.05em 0.2em;
}
.searchSection {
  display: none;
}
.portletWrapper{
    clear: both;
}
#portal-globalnav,
#portal-globalnav li a {
    background: transparent;
}
#portal-globalnav
 {
    font-size: 90%;
    margin: 0;
}
#portal-globalnav li a {
    margin: 0 0 0.2em;
}
#portal-globalnav .selected a {
    background: none repeat scroll 0 0 #ca2464;
    color: white;
}
#portal-globalnav .selected a:hover,
#portal-globalnav a:hover {
    background: #37a9c3;
    color: white;
}
#portal-globalnav li a {
    border-radius: 5px;
    border-right: 0.1em solid white;
    min-width: 0;
    padding: 0.4em 1em;
}

/*Content*/
#portal-body {
    background: url("++resource++sll.basetheme/images/bg.jpg") no-repeat scroll center 0 transparent;
    background-size: 100%;
    padding: 0.7em 0 0;
    clear: both;
}
#portal-columns{
    background: white;
    border-radius: 10px;
    float: left;
    padding: 1em 0 0 0;
}
#portal-breadcrumbs {
    line-height: 2em;
    margin-left: 0.25em;
    padding: 0.25em 0;
}
#portal-breadcrumbs a {
    color: #333333;
}
#breadcrumbs-you-are-here {
    display: none;
}
#content {
    margin: 1em 1em 2em;
}
#viewlet-below-content {
    clear: both;
    margin: 0.5em 1em;
}

/*Batching*/
div.listingBar {
    font-size: 100%;
}
#content div.listingBar a:hover{
    border-radius: 5px;
    background-color: linen;
}

/*Portlet: Navigation*/
dl.portlet ul.navTreeLevel0 > .navTreeItem {
    background: #29A2BF;
    border-bottom: none;
    border-radius: 5px;
}

dl.portlet ul.navTreeLevel1 li.navTreeItem a.state-published {
    color: #333333 !important;
}

dl.portlet ul.navTree li.navTreeItemInPath li.navTreeCurrentNode > a.state-published,
dl.portlet ul.navTree li a.state-published {
    color: white !important;
}

dl.portlet ul.navTree li.navTreeItemInPath a.state-published {
    color: #333333 !important;
}

dl.portlet ul.navTree li.navTreeItemInPath li.navTreeCurrentNode a.navTreeCurrentItem:hover,
dl.portlet ul.navTree li a.state-published:hover {
    color: #75ad0a !important;
}

dl.portlet ul.navTree li.navTreeCurrentNode {
    background: white;
}
dl.portlet ul.navTree li.navTreeItemInPath {
    background: white;
}

dl.portlet ul.navTree .navTreeCurrentItem {
    background: #ca2464;
    border: none;
    border-radius: 5px;
    padding: 0.25em 1em;
}

/*Footer*/
#portal-footer-wrapper{
    background:#747474;
    background: -moz-linear-gradient(#545454, #747474) no-repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, from(#545454), to(#747474));
    color: white;
    clear: both;
    font-size: 85%;
    line-height: 150%;
    padding: 3em 0;
}
#portal-footer-wrapper h1,
#portal-footer-wrapper h2,
#portal-footer-wrapper h3,
#portal-footer-wrapper h4,
#portal-footer-wrapper h5,
#portal-footer-wrapper h6 {
    color: white;
}
#portal-footer-wrapper a:link, #portal-footer-wrapper a:visited {
    color: white;
}

/*Media Queries*/
@media screen and (max-width: 1200px) {
    #portal-header,
    #portal-columns {
        margin: 0 5%;
        width: 90%;
    }
}

@media screen and (max-width: 1050px) {
    #portal-header,
    #portal-columns {
        margin: 0 0.5%;
        width: 99%;
    }
    #portal-logo {
        margin: 0.7em;
        max-width: 100%;
    }
    #portal-searchbox {
        clear: none;
        float: none;
        margin: 0;
    }
    #portal-siteactions {
        text-align: left;
    }
    #portal-column-two {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }

    div.position-1\:4 {
        margin-left: 0;
    }
    div.width-1\:4 {
        width: 100%;
    }
    div.position-3\:4 {
        margin-left: 0;
    }
    div.width-3\:4 {
        width: 100%;
    }

    div.position-0 {
        margin-left: 0;
    }
    div.cell {
        float: 0;
        left: 0;
        position: inherit;
    }

}
@media screen and (max-width: 500px) {
    #portal-column-two {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
}